@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.footer{
    display: flex;
    justify-content: center;
    background-color: $primary-light;

     &__wrapper{
        display: flex;
        flex-direction: column;
        gap: 14px;
     }
     &__items{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 10%;
     }
     &__logo{
        margin-bottom: -10px;
     }
     &__logo-img{
        margin-left: 17px;
     }
     &__links{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 30px;
        margin-left: 30px;
     }
     &__children-links{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $secondary-light;
        text-decoration: none;
        margin-right: 12px;
     }
     &__link-item{
        display: flex;
        flex-direction: column;
        gap: 4px;
        color: $secondary-blue;
        text-decoration: none;
        @include body-small;
     }
     &__trees{
      width: 20vw;
      height: 20vh;
      margin-left: 300px;
      margin-top: -100px;
      padding-bottom: 10px;
     }
     @include tablet{
      padding: 30px;

      &__logo-img{
         margin-left: 20px;
         width: 120px;
         height: 120px;
      }
      &__links{
         gap: 140px;
      }
      &__children-links{
         gap: 8px;
      }
      &__link-item{
         @include dt-body-small;
      }
      &__trees{
       width: 25vw;
       height: 25vh;
       margin-left: 470px;
       margin-top: -120px;
      }
     }
     @include desktop{
      // padding: 30px;
      padding-left: 250px;

      &__logo-img{
         margin-left: 20px;
         width: 160px;
         height: 160px;
      }
      &__links{
         gap: 300px;
      }
      &__children-links{
         gap: 8px;
      }
      &__link-item{
         @include dt-body-medium;
      }
      &__trees{
       width: 30vw;
       height: 30vh;
       margin-left: 850px;
       margin-top: -120px;
      }
     }

}


.footer-column{
    display: flex;
    flex-direction: column;
    gap: 5px;

    &__title{
        white-space: nowrap;
        @include body-medium;
        margin-bottom: 15px;
        margin-left: -30px;
        display: flex;
        justify-content: space-around;
    }
    @include tablet{
      &__title{
         @include dt-body-medium;
         margin-left: -37px;
     }
    }
    @include tablet{
      &__title{
         @include dt-body-large;
         margin-left: -37px;
     }
    }
}
