@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.nav{

    &__logo{
        margin: -20px 0 -40px 20px;
    }
    &__logo-link{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__list{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
    }
    &__links{
        text-decoration: none;
        color: $primary-dark;
        @include body-medium;
    }
    @include tablet{
        &__logo{
            width: 170px;
            height: 170px;
        }
        &__links{
            @include dt-body-medium;
        }
    }
    @include desktop{
        &__logo{
            width: 170px;
            height: 170px;
        }
        &__links{
            @include dt-body-medium;
        }
    }
}