@use "../styles/partials/mixins" as *;
@use "../styles/partials/variables" as *;

.about{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5rem;

    &__construction{
        width: 12.5rem;
        height: 12.5rem;
    }

    @include tablet{
        margin: 6.25rem;

        &__construction{
            width: 21.875rem;
            height: 21.875rem;
        }

    }
    @include desktop{
        margin: 12.5rem;

        &__construction{
            width: 31.25rem;
            height: 31.25rem;
        }

    }
}