@font-face {
    font-family: "Avenir Next Regular";
    src: url("/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Bold";
    src: url("/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Avenir Next Demi";
    src: url("/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
}