@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.camp-list{
    display: flex;
    overflow-x: auto;
    padding: 2rem;
    gap: 1rem;

    &__item{
        flex-shrink: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    &__title{
        @include body-large;
        text-decoration: none;
        color: $primary-dark;
        border: none;
    }
    &__img{
        border-radius: 15px;
        box-shadow: -1px 0px 5px 3px rgb(206 201 201);
        width: 300px;
        height: 300px;
    }
    &__link{
        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    @include tablet{
        &__title{
            @include dt-body-large;
        }
        &__img{
            width: 400px;
            height: 400px;
        }
    }
    @include desktop{
        margin-left: 70px;
        &__title{
            @include dt-sub-header;
        }
        &__img{
            width: 500px;
            height: 500px;
        }
    }
}


.camp-title{
    @include sub-header;
    margin-left: 30px;
    margin-bottom: -5px;
    margin-top: 30px;

    @include tablet{
        @include dt-sub-header;
        margin-top: 40px;
        margin-bottom: 0;
    }
    @include desktop{
        @include dt-page-header;
        margin-top: 50px;
        margin-bottom: 10px;
        margin-left: 100px;
    }
}