@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.newsletter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5rem 0;
    
    &__label{
        @include sub-header;
        margin-bottom: 40px;
    }
    &__form{
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }
    &__input{
        @include body-medium;
        border: none;
        border-bottom: 1px solid $primary-dark;
        background-color: transparent;
        width: 40vw;
        padding: 0.5rem 1rem;

        &:focus{
            border-color: $primary-dark;
        }
    }
    &__btn{
        padding: 1rem;
        background-color: $primary-blue;
        border: none;
        border-radius: 5px;
        color: $primary-light;
        cursor: pointer;

        &:hover{
            background-color: $secondary-blue;
        }
    }
    @include tablet{
        padding: 10rem 0;
    
        &__label{
            @include dt-sub-header;
            margin-bottom: 3.125rem;
        }
        &__form{
            margin-left: 1.875rem;
        }
        &__input{
            @include dt-body-medium;
            width: 45vw;
            padding: 1rem 1.5rem;
        }
        &__btn{
            padding: 1.5rem;
        }

    }
}