@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.home-hero{
    background-image: url("/images/hero-home.jpg");
    background-size: cover;
    height: 70vh;
    @include flex-column;
    @include flex-center-items;

    &__wrapper{
        @include flex-column;
        @include flex-center-items;
        height: 50vh;
        gap: 1.7rem;
        background-color: rgba(255, 255, 255, 0.8); 
        padding: 3rem 2rem; 
        border-radius: .5rem; 
        max-width: 70vw; 
        margin: auto;
        box-shadow: 0 .25rem .5rem rgba(0, 0, 0, 0.2); 
    }
    &__title-span{
        color: $primary-blue;
    }
    &__title{
        @include page-header;
        color: $primary-dark;
    }
    &__description{
        @include body-large;
        color: $primary-dark;
    }

    @include tablet{
        height: 80vh;

        &__wrapper{
            @include flex-row;
            gap: 2rem;
            padding: 4rem; 
            border-radius: .5rem; 
            max-width: 80vw; 
        }
        &__title{
            @include dt-page-header;
        }
        &__description{
            @include sub-header;
        }
    }
    @include desktop{
        height: 80vh;

        &__wrapper{
            @include flex-row;
            gap: 5rem;
            padding: 11rem; 
            border-radius: .5rem; 
            max-width: 75vw; 
        }
        &__title{
            @include dt-page-header;
        }
        &__description{
            @include dt-sub-header;
        }
    }
}